body{
  background-color: #FBE7C6;
}

nav{
  width: 100%;
  text-align: center;
}

nav p{
  font-family: 'Alfa Slab One', cursive;
  font-size: 2em;
}

.labels{
  font-family: 'Alfa Slab One', cursive;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 70%;
  margin: auto;
  margin-bottom: -35px;
}

.play-area{
  display: flex;
  justify-content: space-between;
}

.img-container{
  display: flex;
  justify-content: space-around;
  width: 40%;
  margin-top: 50px;
  border: solid;
}

.select{
  background-color: transparent;
  border: none;
  cursor:pointer;
}

.img-icons{
  height: auto;
  width: 70%;
}

.score-board{
  width: 45%;
  margin: auto;
  border: solid;
  height: 200px;
  margin-top: 50px;
  text-align: center;
  font-family: 'Alfa Slab One', cursive;
}

.score-wrapper{
  display: flex;
  justify-content: space-between;
}

.player-score{
  width: 40%;
  height: 200px;
  border-right: solid;
}

.ai-score{
  width: 40%;
  border-left: solid;
}

.ties{
  width: 20%;
}

.borders{
  border-bottom: solid;
}

.mid{
  display: flex;
  flex-direction: column;
  margin-top: 70px;
  gap: 80px;
  font-family: 'Alfa Slab One', cursive;
  align-items: center;
}

/* mid button styling */

.example_b {
	color: #fff !important;
	text-transform: uppercase;
	text-decoration: none;
	background: #60a3bc;
	padding: 20px;
	border-radius: 50px;
	display: inline-block;
	border: none;
	transition: all 0.4s ease 0s;
}

.example_b:hover {
	text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
	-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	transition: all 0.4s ease 0s;
}
