body{
  background-color: #FBE7C6;
}

nav{
  width: 100%;
  text-align: center;
}

nav p{
  font-family: 'Alfa Slab One', cursive;
  font-size: 2em;
}

.play-area{
  display: flex;
  justify-content: space-between;
}

.img-container{
  display: flex;
  justify-content: space-around;
  width: 40%;
  margin-top: 50px;
  border: solid;
}

.select{
  background-color: transparent;
  border: none;
  cursor:pointer;
}

.img-icons{
  height: auto;
  width: 70%;
}

.score-board{
  width: 45%;
  margin: auto;
  border: solid;
  height: 300px;
  margin-top: 50px;
  text-align: center;
  font-family: 'Alfa Slab One', cursive;
}

.score-wrapper{
  display: flex;
}

.player-score{
  width: 50%;
  height: 230px;
  border-right: solid;
}

.ai-score{
  width: 50%;
}

.player-score p, .ai-score p{
  border-bottom: solid;
}
